@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Muliregular.eot");
  src: local("Assistant-Light"),
  url("../fonts/Muli/Muliregular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Muli/Muliregular.woff2") format("woff2"),
  url("../fonts/Muli/Muliregular.woff") format("woff"),
  url("../fonts/Muli/Muliregular.ttf") format("truetype"),
  url("../fonts/Muli/Muliregular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli/Mulibold.eot");
  src: local("Assistant-Light"),
  url("../fonts/Muli/Mulibold.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Muli/Mulibold.woff2") format("woff2"),
  url("../fonts/Muli/Mulibold.woff") format("woff"),
  url("../fonts/Muli/Mulibold.ttf") format("truetype"),
  url("../fonts/Muli/Mulibold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}


